body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15%;
}
img {
    width: 250px;
}
h1 {
    margin-bottom: 0;
    color: #046db5;
}
h2 {
    border-bottom: 1px solid #ddd;
    color: #046db5;
}
#profile h2 {
    display: none;
}
#photo {
    margin-bottom: 1em;
}
#job {
    font-weight: bold;
    font-size: 1.2em;
    color: #e72276;
}
#unit {
    margin-bottom: .5em;
    font-weight: bold;
}
#email {
    margin-bottom: 1em;
}
#orcid {
    margin-bottom: 1em;
}
.rssItem {
    margin: .5em 1em;
}
#publications h3 {
    margin: 1em 0 .5em 0;
}
#pubsLink {
    margin-bottom: 1em;
}
#pubsLink a, #pubsLink a:visited {
    font-weight: bold;
}
a, a:visited {
    text-decoration: none;
    color: #046db5;
}
a:hover {
    text-decoration: underline;
}
#teaching, #research, #publications {
    line-height: 1.8;
}